.add-contact {
  background-color: white;
  height: 100vh;
}
.new-row {
  margin: 0 388px !important;
  width: 500px;
}
.ant-form-item-label label {
  font-weight: 500;
}
.heading-add {
  text-align: center;
  padding: 60px 0 40px;
}
.add-btn {
  width: 50%;
  background-color: rgb(10, 206, 10);
  border: transparent;
}

.add-btn:hover {
  background-color: rgb(19, 224, 19);
}
.ant-btn-primary:focus {
    background-color: rgb(19, 224, 19);
    border-color:  rgb(19, 224, 19);
}