.ant-input {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  transition: all .3s;
  &:hover {
    border-color: rgba(49, 241, 49, 0.473);
  }
  &:focus{
      border-color: rgb(49, 241, 49);
      box-shadow: none;
  }
}

.ant-form-item-label {
  font-size: 20px;
}
